/* Header styles */
app-container {
  height:100%;
  position: fixed;
  overflow: hidden;
}

header {
  background-color: #007bff;
  color: white;
  padding: 2px;
  text-align: center;
  top:0;
}

/* Main content styles */
main {
  flex: 1;
  overflow: hidden;
}

/* Footer styles */
footer {
  background-color: #f8f9fa;
  padding: 10px 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
